XML/XML con DTD/preguntes.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT preguntes (pregunta)+>
<!ELEMENT pregunta (tipo,título,texto,opción*,respuesta)>
<!ATTLIST pregunta id ID #REQUIRED>
<!ELEMENT tipo (#PCDATA)>
<!ELEMENT título (#PCDATA)>
<!ELEMENT texto (#PCDATA)>
<!ELEMENT opción (#PCDATA)>
<!ELEMENT respuesta (#PCDATA)>
<!ELEMENT radio (#PCDATA)>
